.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav-bar {
    flex: 1 1 auto;
  }
}
.logo {
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
